<!-- views/partials/dashboard_nav.ejs -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/dashboard">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dashboardNav" aria-controls="dashboardNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="dashboardNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage_cameras">Cámaras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage_recorders">Grabadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage_installation">Instalación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage_accessories">Accesorios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage_cables">Cables</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage_protection">Protección</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create_quote">Crear Cotización</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quotes">Cotizaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/company_info">Info Empresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/products">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>