<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/dashboard" class="brand-link">
        <img src="https://scontent.feoh11-1.fna.fbcdn.net/v/t39.30808-6/309450787_530191355773347_1930846317585276991_n.png" 
             alt="DPTECH Logo" 
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">DPTECH</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                <li class="nav-item">
                    <a href="/manage_cameras" class="nav-link">
                        <i class="nav-icon fas fa-camera"></i>
                        <p>Gestionar C치maras</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/dashboard/manage_recorders" class="nav-link">
                        <i class="nav-icon fas fa-video"></i>
                        <p>Gestionar Grabadores</p>
                    </a>
                </li>
                <!-- Actualiza todas las rutas agregando /dashboard al inicio -->
                <li class="nav-item">
                    <a href="/dashboard/manage_installation" class="nav-link">
                        <i class="nav-icon fas fa-tools"></i>
                        <p>Gestionar Instalaci칩n</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/manage_accessories" class="nav-link">
                        <i class="nav-icon fas fa-plug"></i>
                        <p>Gestionar Accesorios</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/manage_cables" class="nav-link">
                        <i class="nav-icon fas fa-network-wired"></i>
                        <p>Gestionar Cables</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/manage_protection" class="nav-link">
                        <i class="nav-icon fas fa-shield-alt"></i>
                        <p>Protecci칩n de Cables</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/create_quote" class="nav-link">
                        <i class="nav-icon fas fa-file-invoice-dollar"></i>
                        <p>Crear Cotizaci칩n</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/quotes" class="nav-link">
                        <i class="nav-icon fas fa-list"></i>
                        <p>Ver Cotizaciones</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/company_info" class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p>Info. Empresa</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>